body {
    background: #FFEB99;
}

.shop-container {
    text-align: center;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.product img {
    width: 100%;
    border-radius: 10px;
    background: #FFA6A6;
    padding: 20px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.add-to-cart {
    background: #ff4081;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart:hover {
    background: #fca4e4;
}